<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <%- partial('partials/titelvoorbeeld' {title: title}) %>  
    <!-- Met deze include wordt het partial in views/partials/titelvoorbeeld.ejs toegevoegd,
        zonder dat de html zich in dit bestand bevind.
        De title variabele, uit indexRoute.js, wordt ook aan titelvoorbeeld.ejs gegeven. 
        <div style="background-color: brown; height: 100%; width: 100%;">
            <h1>Welcome to <%= title %></h1>
        </div>
    -->
</body>
</html>